PORT=3000
JWT_SECRET=your_jwt_secret_key
AUTH_SERVICE_URL=http://localhost:3001
RBAC_SERVICE_URL=http://localhost:3002
MASTER_SERVICE_URL=http://localhost:3003
TRANSACTION_SERVICE_URL=http://localhost:3004
INTERNAL_KEY=your-internal-key
